.carousel-custom .swiper-button-next,
.carousel-custom .swiper-button-prev{
    background-color: rgba(50, 50, 50, 0.35);
    border-radius: 7px;
    transition: all 0.25s;
    color: white;
}
.carousel-custom .swiper-button-next:hover,
.carousel-custom .swiper-button-prev:hover{
    background-color: rgba(50, 50, 50, 1);
}
.carousel-custom .swiper-button-next::after,
.carousel-custom .swiper-button-prev::after{
    font-size: 24px;
}

.carousel-custom .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 0px gray;
}

#content_drawmenu .MuiDrawer-paper{
    background-color: #00005f;
}
#content_drawmenu .MuiBox-root{
    width: 290px;
}
#content_drawmenu .MuiButtonBase-root.MuiListItemButton-root p{
    padding: 0.5rem 0;
}
#content_drawmenu .MuiListItem-root{
    border-bottom: 0.75px solid rgba(150, 150, 150, 0.25);
}
#content_drawmenu .MuiButtonBase-root.MuiListItemButton-root:hover,
#content_drawmenu .MuiButtonBase-root.MuiListItemButton-root.active,
#content_drawmenu .MuiButtonBase-root.MuiListItemButton-root:focus{
    background-color: #000079;
}

.content-menu-category .MuiAccordionSummary-content{
    margin: 0;
    width: 100%;
}
.content-menu-category .MuiButtonBase-root.MuiMenuItem-root{
    padding-top: 0;
    padding-bottom: 0;
}